.friends-main {
	height: 90vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #1a1a1a;
}

.friends-friendlist {
	display: flex;
	flex-direction: column;
}
.friends-friendlist-img-ONLINE {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border-width: 2px;
	border-color: lightgreen;
}

.friends-friendlist-img-OFFLINE {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border-width: 2px;
	border-color: rgb(126, 126, 126);
}

.friends-friendlist-img-INGAME {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border-width: 2px;
	border-color: lightskyblue;
}

.friends-friendlist-component {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
}

.friends-friendlist-name {
	text-align: center;
	margin-left: 15px;
}

.friends-friendlist-nameStatus-ONLINE {
	color: lightgreen;
}
.friends-friendlist-nameStatus-OFFLINE {
	color: rgb(126, 126, 126);
}
.friends-friendlist-nameStatus-INGAME {
	color: lightskyblue;
}