.friends-main {
	height: 90vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #1a1a1a;
}

.friends-friendlist {
	display: flex;
	flex-direction: column;
}
.friends-friendlist img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
}

.friends-friendlist-status-ONLINE {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-color: lightgreen;
	display: flex;
	justify-content: center;
	align-items: center;
}

.friends-friendlist-status-OFFLINE {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-color: rgb(126, 126, 126);


	display: flex;
	justify-content: center;
	align-items: center;
}

.friends-friendlist-status-INGAME {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-color: lightskyblue;
	display: flex;
	justify-content: center;
	align-items: center;
}

.friends-friendlist-component {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
}

.friends-friendlist-name {
	text-align: center;
	margin-left: 15px;
}

.friends-friendlist-nameStatus-ONLINE {
	color: lightgreen;
}
.friends-friendlist-nameStatus-OFFLINE {
	color: rgb(126, 126, 126);
}
.friends-friendlist-nameStatus-INGAME {
	color: lightskyblue;
}