.profile-main {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profile-div {
	background-color:gray;
	height: 50vh;
	width: 15vw;
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	border-radius: 8px;
	box-shadow: -10px 10px 10px rgb(24, 24, 24);
	/*animation-name: grow;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;*/
}

  
/*@keyframes grow {
	from {
	  transform: translate(50%, -50%) scale(0);
	}
	to {
	  transform: translate(0, 0) scale(1);
	}
  }*/

.profile-div img {
	height: 15%;
	width: fit-content;
	border-radius: 50%;
}

.profile-main button {
	width: fit-content;
	align-self: center;
	margin-top: 20px;

}