@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

@media only screen and (max-width: 992px) {

	/* SignIn Button */

	.signin-button {
		width: 300px;
		height: 75px;
		left: calc(50% - 500px / 2);
		top: calc(50% - 125px / 2);

		background: #CF7200;
		mix-blend-mode: normal;
		transition: 0.25s;
	}

	/* Sign in with 42 */

	.text-2 {

		width: 746px;
		height: 50px;
		left: calc(50% - 746px/2 - 1px);
		top: calc(50% - 50px/2 + 0.5px);

		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 47px;
		text-align: center;

		color: #F2F2F2;

	}
}

@media only screen and (min-width: 992px) {

	/* SignIn Button */

	.signin-button {
		width: 400px;
		height: 100px;
		left: calc(50% - 500px / 2);
		top: calc(50% - 125px / 2);

		background: #CF7200;
		mix-blend-mode: normal;
		transition: 0.25s;
	}

	/* Sign in with 42 */

	.text-2 {

		width: 746px;
		height: 50px;
		left: calc(50% - 746px/2 - 1px);
		top: calc(50% - 50px/2 + 0.5px);

		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		line-height: 47px;
		text-align: center;

		color: #F2F2F2;

	}
}

@media only screen and (min-width: 1200px) {

	/* SignIn Button */

	.signin-button {
		width: 500px;
		height: 125px;
		left: calc(50% - 500px / 2);
		top: calc(50% - 125px / 2);

		background: #CF7200;
		mix-blend-mode: normal;
		transition: 0.25s;
	}

	/* Sign in with 42 */

	.text-2 {

		width: 746px;
		height: 50px;
		left: calc(50% - 746px/2 - 1px);
		top: calc(50% - 50px/2 + 0.5px);

		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 40px;
		line-height: 47px;
		text-align: center;

		color: #F2F2F2;

	}
}
